.blok_3 {
	text-align: center;
	margin: 0;
}

.thebest {
	font-size: 40px;
	margin-top: 50px;
	padding: 5px 0;
	border-bottom: 1.5px solid #3d3a36;
	border-top: 1.5px solid #3d3a36;
}

.best {
	margin: 35px;
	font-size: 15px;
}

.best img {
	width: 250px;
	height: 250px;
	border-radius: 25px;
}

.best li {
	display: inline-block;
	margin: 20px;
}