.baner {
    position: relative;
    width: 100%;
    height: 550px; /* Можна налаштувати висоту */
    overflow: hidden;
}

.carousel {
	position: relative;
    width: 100%;
    height: 100%;
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%; /* Множимо на кількість слайдів */
}

.slide {
    flex: 0 0 100%; /* Кожен слайд займає 100% ширини */
    height: 100%;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}





/* Стили для планшетов */
@media (min-width: 601px) and (max-width: 1024px) {
    .baner {
        height: 400px;
    }
    
}


/* Стили для телефонов */
@media (max-width: 600px) {

}