/* Основний стиль підвалу */
.footer {
    background: #e2c6c0;
    padding: 30px 20px;
    text-align: center;
    /*border-top: 1px solid #ddd;*/
}

/* Контейнер */
.footer-container {
    background: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.footer-container img {
    width: 20px;
}

/* Логотип */
.footer-logo {
    background: #e2c6c0;
}
.footer-logo img {
    max-width: 60px;
    background: #e2c6c0;
}

/* Меню */
.footer-menu {
    background: #e2c6c0;
}
.footer-menu ul {
    padding: 0;
    background: #e2c6c0;
}

.footer-menu ul li {
    display: inline;
    margin: 0 10px;
}

.footer-menu ul li a {
    color: #333;
    /*font-weight: 500;*/
    background: #e2c6c0;
}

.footer-menu ul li a:hover {
    color: #FE656E;
}

/* Контакти */
.footer-contacts {
    background: #e2c6c0;
}
/*.footer-contacts p {
    margin: 5px 0;
    font-size: 14px;
    background: #e2c6c0;
}*/
.footer-contacts a {
    color: #FE656E;
}

/* Соцмережі */
.footer-socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    background: #e2c6c0;
}

.footer-socials img {
    width: 24px;
    transition: opacity 0.3s;
    background: #e2c6c0;
}

.footer-socials img:hover {
    opacity: 0.7;
}


/* Авторські права */
.footer-bottom {
    margin-top: 20px;
    font-size: 12px;
}