/* Основний блок хедеру */
.header {
	position: fixed; /* Фіксуємо меню */
    top: 0; /* Прив’язуємо до верхнього краю */
    left: 0;
    width: 100%;
    text-align: center; /* Вирівнювання по центру */
    border-bottom: 1.5px solid #3d3a36; /* Тонка лінія під хедером */
    padding: 25px 0 0 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); /* Легка тінь */
    z-index: 1000;
    justify-content: space-between;
    transition: all 0.3s ease;
}

/* Логотип */
.logo img {
    width: 130px; /* Можна налаштувати розмір логотипу */
    height: auto;
    transition: width 0.3s;
}

/* Меню */
.menu ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0; /* Відступ зверху */
    border-top: 1.5px solid #3d3a36; /* Тонка лінія зверху меню */
}

.menu_d,
.menu_d_end {
	display: inline-block;
}

.menu_d {
	border-right: 1.5px solid #3d3a36;
}

.menu ul div li {  
    margin: 15px; /* Відступ між пунктами меню */
}

.menu ul li a {
    text-decoration: none;
    color: #3d3a36;
    font-size: 16px;
    padding: 5px 10px;
    transition: font-size 0.3s;
}

.menu ul li a:hover {
    color: #FE656E; /* Колір при наведенні */
}


.menu-katalog:hover {
    color: #FE656E; /* Колір при наведенні */
}
.dropdown-menu {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0;
    top: 86%;
    z-index: -1;
    background: #E2C6C0;
}
.dropdown-menu li a{
	background: #E2C6C0;
}

.tabl-content {
	display: none;
	position: absolute;
	width: 100%;
    left: 0;
    padding: 0;
    top: 120%;
    z-index: -2;
}
.tabl-content .topik {
	color: #FE656E;
}

.submenu {
	display: inline-block;
}
.sub-dropdown {
    top: 0;
    left: 100%;
    display: flex;
    text-align: center;
    gap: 20px;
}
.menu-katalog:hover .dropdown-menu {
    display: block;
}
.menu-katalog:hover .tabl-content {
    display: block;
}

.tabl-content {
	padding: 40px 80px 10px 80px;
}

/*.sub-dropdown {
	text-align: left;
	display: flex;
	gap: 20px;
}*/

.right {
	flex: 1.5;
	text-align: left;
}
.left {
	flex: 1;
	text-align: left;
}
.tabs-panel {
	display: inline-block;
}
.tabs-panel p {
	font-size: 14px;
}
.tabs-panel ul li a{
	font-size: 14px;
	color: rgba(34, 11, 24, 0.5);
}

.menu_back {
	padding-top: 160px;
}









/*telefon*/
@media screen and (max-width: 850px) {
	.menu {
		font-size: 24px;
		padding: 30px;
		justify-content: center;
		align-items: center;
	}
	.menu a {
		padding: 20px 30px;
	}
	.menu.responsive {
		padding-top: 0;
		padding-bottom: 0;
	}
	.menu .icon {
		display: block;
	}
	.menu .icon .close {
		display: none;
	}
	.menu .dropdown {
		display: none;
		flex-direction: column;
	}
	.menu .dropdown svg {
		display: none;
	}
	.menu.responsive .dropdown {
		display: flex;
	}
	/*.ver_b {
		display: block;
	}*/
	.ver_m {
	    display: none;
	}
	.logo {
		position: relative;
	}
	.menu .nav .main {
    left: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

@media screen and (max-width: 426px) {
	.menu .logo a {
	width: 15px;
	height: 15px;
	}
}