/* Основний блок хедеру */
.header {
	position: fixed; /* Фіксуємо меню */
    top: 0; /* Прив’язуємо до верхнього краю */
    left: 0;
    width: 100%;
    text-align: center; /* Вирівнювання по центру */
    padding: 25px 0 0 0;
    border-bottom: 1.5px solid #3d3a36;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); /* Легка тінь */
    z-index: 1000;
    justify-content: space-between;
    transition: all 0.3s ease;
}

/* Логотип */
.logo img {
    width: 130px; /* Можна налаштувати розмір логотипу */
    height: auto;
    transition: width 0.3s;
}

/*burger*/
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-menu span {
    /*width: 30px;
    height: 3px;
    background: #3d3a36;*/
    margin: 5px 0;
    transition: all 0.3s;
}

/* Меню */
.menu ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0; /* Відступ зверху */
}

.menu_d,
.menu_d_end {
	display: inline-block;
}

.menu_d {
	border-right: 1.5px solid #3d3a36;
}

.lin {  
    margin: 15px; /* Відступ між пунктами меню */
}
.menu .main {
	border-top: 1.5px solid #3d3a36;
}
.menu ul li a {
    text-decoration: none;
    color: #3d3a36;
    font-size: 16px;
    padding: 5px 10px;
    transition: font-size 0.3s;
}

.menu ul li a:hover {
    color: #FE656E; /* Колір при наведенні */
}
.menu-katalog:hover {
    color: #FE656E; /* Колір при наведенні */
}


/*комп выпад-меню*/
.menu-katalog:hover .dropdown-menu {
    display: block;
}
.menu-katalog:hover .dropdown-menu img{
    display: none;
}
.menu-katalog:hover .tabl-content { /*все id табл-конт*/
    /*display: flex;*/
    justify-content: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0;
    top: 86%;
    z-index: -1;
    background: #E2C6C0;
    border-top: 1.5px solid #3d3a36;
}
.dropdown-menu li {
	background: #E2C6C0;
}
.submenu {
	display: inline-block;
	padding: 15px;
}



.tabl-content {
	display: none;
	position: absolute;
	width: 100%;
    left: 0;
    top: 120%;
    z-index: -2;
    margin-top: 25px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.tabl-content .topik {
	color: #FE656E;
}

.sub-dropdown {
    top: 0;
    left: 100%;
    display: flex;
    align-items: flex-start;
    text-align: center;
    gap: 20px;
}

.right,
.left {
	display: flex;
	text-align: left;
	flex-direction: column;
	align-items: flex-start;
}
.right {
	flex: 2;
}
.left {
	flex: 1;
}

.all-tabs-panel {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	flex-wrap: wrap;
}
.tabs-panel {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 30px;
	margin-bottom: 10px;
}
.tabs-panel p {
	font-size: 16px;
}
.tabs-panel ul {
	margin: 0;
}
.tabs-panel ul li{
	margin: 10px 0;
}
.tabs-panel ul li a {
	font-size: 16px;
	color: rgba(34, 11, 24, 0.5);
}



.menu_back {
	padding-top: 9.7em;
}





/* Стили для планшетов */
@media (min-width: 601px) and (max-width: 1024px) {
    .header{
            display: flex;
            align-items: center;
            padding: 20px 20px 10px 20px;
            width: 94.5%;
        }
        .menu_back{
            padding-top: 4.7em;
        }

        .logo img {
            width: 100px;
            height: auto;
        }

        .burger-menu {
            display: flex;
            align-items: flex-end;
        }
        .burger-menu .open {
            display: flex;
            transition: font-size 0.3s;
            padding-right: 10px;
        }
        .burger-menu .close {
            display: none;
            transition: font-size 0.3s;
            padding-right: 10px;
        }

        .menu {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 64px;
            left: 0;
            height: 100vh;
            width: auto;
        }
        .menu .main {
            border-top: none;
        }
        .menu.active {
            display: flex;
            flex-direction: column;
        }

        .menu_d, .menu_d_end {
            display: flex;
            justify-content: center;
        }
        .menu ul {
            margin: 0;
            /*flex-direction: column;
            width: 100%;*/
        }
}


/* Стили для телефонов */
@media (max-width: 600px) {
		.header{
			display: flex;
			align-items: center;
			padding: 20px 20px 10px 20px;
			width: 94.5%;
		}
		.menu_back{
			padding-top: 4.7em;
		}

		.logo img {
			width: 100px;
			height: auto;
		}

		.burger-menu {
			display: flex;
			align-items: flex-end;
		}
    	.burger-menu .open {
            display: flex;
            transition: font-size 0.3s;
            padding-right: 10px;
        }
        .burger-menu .close {
        	display: none;
        	transition: font-size 0.3s;
        	padding-right: 10px;
        }

        .menu {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 64px;
            left: 0;
            height: 100vh;
            width: 100%;
        }
        .menu .main {
        	border-top: none;
        }
        .menu.active {
            display: flex;
            flex-direction: column;
        }

        .menu_d, .menu_d_end {
        	display: flex;
        	justify-content: center;
        }
        .menu ul {
        	margin: 0;
            /*flex-direction: column;
            width: 100%;*/
        }
        /*.menu ul li {
            text-align: center;
            padding: 15px;
            border-bottom: 1px solid #ddd;
        }*/

		
        .dropdown-menu {
        	position: static;
        	border-top: none;
        	/*width: 100%;*/
        }

		.menu-katalog:hover .tabl-content {
		    display: none;
		}
        .menu-katalog:hover .dropdown-menu {
        	display: flex;
        	flex-direction: column;
		    flex: 1;
        }
        .menu-katalog:hover .dropdown-menu img {
        	display: block;
        	background: none;
        }
        


		.submenu {
			display: flex;
			flex-direction: row;
        	align-items: center;
		}

        .tabl-content {
        	position: static;
        	margin: 0;
        	padding: 0;
        	box-shadow: none;
        }
}