html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big,cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, head, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	background: #f8f3ed;
	/*vertical-align: baseline;*/
}

* {
	font-family: 'Ysabeau', sans-serif;
	font-weight: 700;
  font-style: normal;
	color: #3d3a36;
}

/*.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.ysabeau-<uniquifier> {
  font-family: "Ysabeau", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

a {
	text-decoration: none;
  background-color: transparent;
}

.folower {
	background: #a56b4b;
	padding: 20px;
}

.folower h2 {
	background:none;
	color: #f8f3ed;
	font-size: 60px;
	margin: 20px;
}

.floor_text {
	margin: 20px;
	background: #a9b9a2;
}

.floor_text h4, .floor_text p {
	background:none;
}




/*tablet 768px*/
@media screen and (min-width: 426px) and (max-width: 768px) {
	
}
/*mobil L 425px*/
@media screen and (min-width: 376px) and (max-width: 426px) {
	
}

/*mobil M 375px*/
@media screen and (min-width: 321px) and (max-width: 376px) {
	
}

/*mobil S 320px*/
@media screen and (max-width: 321px) {
	
}